/* Responsive */
@media (max-width: 992px), (max-width: 1024px) {
  .para {
    text-align: center;
  }
  .animate {
    top: 3%;
    right: 11%;
  }
}
@media (max-width: 768px) {
  .hide {
    display: none;
  }
  .animate {
    top: 0%;
    right: 0%;
  }
}
/*Extra Small Device */
@media (max-width: 576px) {
  .hide {
    display: none;
  }
  .para {
    text-align: center;
    margin: 0 20px;
  }
  .animate {
    top: -2%;
    right: 0%;
  }
  img {
    object-fit: cover;
  }
}
