@import "tailwindcss";

/* input.css or globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
img {
  vertical-align: middle;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
button {
  hover {
    background-color: black;
  }
}
.box {
  box-shadow: 0 3px 27px #00ff88;
  transform: translate(150%, -350%);
}
.bg {
  background-image: url("/assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-size: auto;
}

/* Responsive */
@media (max-width: 992px), (max-width: 1024px) {
  .box {
    transform: translate(85%, -200%);
  }
  .para {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .hide {
    display: none;
  }
}
@media (max-width: 576px) {
  .hide {
    display: none;
  }
  .para {
    text-align: center;
    margin: 0 20px;
  }
  .width {
    width: 100%;
    height: 100%;
  }
  /* .box {
    transform: translate(100%, -200%);
    padding: 8px 12px;
  } */
  .box p {
    font-size: 1rem;
    font-weight: 400;
  }
}
